.container {
  border: 1px solid #ddd;
  background-color: #fff;
  margin: 0 0 10px;
  border-radius: 24px;
  padding: 40px 20px 20px 20px;
  list-style: none;
}

.container h2 {
  margin: 0 0 10px;
}

.btnPrimary {
  all: unset;
  cursor: pointer;
  border: 1px solid #ddd;
  background-color: #fff;
  padding: 10px 20px;
  border-radius: 12px;
  transition: 250ms ease;
}

.btnPrimary:hover {
  background-color: #ccc;
  border: 1px solid #ccc;
}
